# Configuración del Backend (Express)
PORT=
JWT_SECRET=
DATABASE_FILE=
UPLOAD_DIR=

# Configuración del Frontend (Vite)
VITE_API_URL=

# Integración con Villacuervos
VILLACUERVOS_CULT_SLUG=
VILLACUERVOS_API_TOKEN=

# Integración con Twitter
TWITTER_BEARER_TOKEN=
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_TOKEN=
TWITTER_TOKEN_SECRET=

# Configuración de VigilanteService (Cron de publicaciones automáticas)
# Ejemplos: "*/5 * * * *" para cada 5 minutos, u "off" para deshabilitar
VIGILANTE_CRON=
